
body {
    margin: 0;
    border: 10px solid rgb(31, 220, 207);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    background-color: rgb(213, 213, 213);
    padding: 10px;
}

.meteo_response {
    background-color: rgb(244, 226, 65);
    padding: 10px;

}
.meteo_data {
    background-color: rgb(65, 238, 244);
    padding: 10px;

}
